!!! 5
html(lang='en')
	head
		script(type='text/javascript')
		meta(charset='utf-8' )
		meta(http-equiv='X-UA-Compatible', content='IE=edge' )
		meta(name='viewport', content='width=device-width, initial-scale=1.0' )
		meta(name='description', content='Baking Bootstrap Snippets with Jade' )
		//- Bootswatch Theme
		link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
nav(class='navbar navbar-light" style="background-color: #e3f2fd')
	div(class='container')
		div(class='navbar-header')
			button(type='button',class='navbar-toggle collapsed',data-toggle='collapse',data-target='#bs-navbar-collapse-1',aria-expanded='false')
			div(class='collapse navbar-collapse',id='bs-navbar-collapse-1')
			ul(class='nav navbar-nav')
				li: a(href="/logout") Logout page
	body
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
		h1 Updated Newspaper Archive
		form(action ='/create', method='post')
			p
				label(for='year') Year
				input(type='year', name='year')
			p
				label(for='title') Title
				input(type='title', name='title')
			p
				label(for='person') Person
				input(type='person', name='person')
			input(type='submit')

		//ul
			li: a(href="/welcome") Welcome page
			li: a(href="/logout") Logout