!!! 5
html(lang='en')
	head
		script(type='text/javascript')
		title Search 
		meta(charset='utf-8' )
		meta(http-equiv='X-UA-Compatible', content='IE=edge' )
		meta(name='viewport', content='width=device-width, initial-scale=1.0' )
		meta(name='description', content='Baking Bootstrap Snippets with Jade' )
		//- Bootswatch Theme
		link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
nav(class='navbar navbar-light" style="background-color: #e3f2fd')
	div(class='container')
		div(class='navbar-header')
			button(type='button',class='navbar-toggle collapsed',data-toggle='collapse',data-target='#bs-navbar-collapse-1',aria-expanded='false')
			div(class='collapse navbar-collapse',id='bs-navbar-collapse-1')
			ul(class='nav navbar-nav')
				li: a(href="/search") Search
				li: a(href="/upload") Upload page
				li: a(href="/logout") Logout 
	body
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
		script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
		//h1 Hi,#{userId}, #{userEmail}
		h1 Morrinsville Museum NewsPaper Archive
		a(href='/create') Create New Resource
	
			
h1 Updated Newspaper Archive
block content
	//h1= userEmail
	//p Welcome to #{userEmail}
	-var year = newspaperData
	form
	div
		table(class='table table-striped')
			thead(class='thead-dark')
				tr.head(scope='col')
				th id
				th Year
				th Title
				th Person
				th Action
			tbody(border='2')
				each resource in newspaperData
					tr(scope='row')
						td	#{resource.id}
						td	#{resource.year}
						td	#{resource.title}
						td #{resource.person}
						td 
								a(href="/toEdit/#{resource.id}") Edit <span>
								.confirm
								a(href="/delete/#{resource.id}", onclick="return confirm('Are you sure you want to delete this item?')") Delete</span>

//		ul
			li: a(href="/welcome") Welcome page
			li: a(href="/search") Search page
			li: a(href="/logout") Logout
//p Navigate to #{JSON.stringify(newspaperData)}



